[Unit]
Description=Run ZaneeStore Salesforce sync every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=salesforce-sync.service

[Install]
WantedBy=timers.target
